<!-- File: src/app/app.component.html -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-chat-sidebar></app-chat-sidebar> -->
<router-outlet></router-outlet>
<!-- <div class="min-h-screen bg-gradient-to-br from-indigo-100 to-purple-200 flex flex-col items-center justify-start p-6">
  <h1 class="text-4xl font-bold mb-4 mt-6 animate-bounce text-indigo-700">GenAI Learning Assistant</h1>
  
  <app-dashboard></app-dashboard>
  
   <app-query-input></app-query-input>
  <app-loader *ngIf="isLoading"></app-loader>
  <app-response-display *ngIf="response"></app-response-display>
</div> -->
